body{
    background: linear-gradient(to right,#ff758c,#ff7eb3);
    height: 100vh;
}

.logo{
    color:white;
    font-weight:bold;
    font-size:50px;
}

.swipe-card{
    width:350px;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

.profile-img{
    height:400px;
    object-fit:cover;
}

.action-btn{
    width:70px;
    height:70px;
    border-radius:50%;
    font-size:30px;
}